html,
body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  font-size: 0.9em;
}

.book {
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.author {
  padding: 5px;
  margin-bottom: 10px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgb(238, 13, 13);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

a:hover {
  background: rgba(238, 13, 13, 0.75);
}

.navigation ul {
  border: 1px solid rgb(212, 20, 20);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3em 1.5em;
  display: flex;
}

.navigation li {
  flex: 3;
  list-style: none;
}

.navigation .links {
  flex: 1;
}

.navigation .awesome-link a {
  text-align: left;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 5px;
}

.book-list {
  display: flex;
  justify-content: space-between;
}

.container > div:nth-child(even) {
  background-color: lightgreen;
}

#date-time {
  font-weight: bold;
  text-align: right;
  padding: 4px;
}

.box {
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  width: 100%;
  display: none;
}

#list h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

#form {
  width: 100%;
  margin-left: 35%;
}

#form h1 {
  font-size: 40px;
  margin-left: 5%;
}

#form input {
  width: 50%;
}

#form button {
  margin-left: 20%;
  margin-top: 20px;
  font-size: 20px;
}

#contact {
  margin-left: 30%;
  margin-top: 7%;
}

#contact h1 {
  font-size: 30px;
  margin-left: 10%;
}

#contact p {
  font-weight: 400;
  font-size: 15px;
}

#contact ul {
  margin-top: 20px;
  font-size: 15px;
}

footer {
  margin-left: 5%;
  padding: 8px;
  border-radius: 3px;
  height: 30px;
  width: 90%;
  border: 2px solid gray;
  margin-top: 14%;
}
